.header-container {
  padding: 20px;
  background-color: white;
  color: black;
}
.header{
  display: flex;
  justify-content: space-around;
}
.header-1,
.header-2,
.header-3
{
  display: flex;
}

.header p{
  align-self: center;
}
.header-1 img{
  width: 40px;
  height: 40px;
}
.header-2 img{
  width: 40px;
  height: 40px;
}
.header-3 img{
  width: 40px;
  height: 40px;
}


@media (max-width: 767px) {

}