*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
.App{
  font-size:14px;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(2,0,36,1) 0%, rgba(168,0,0,1) 100%);
}

.app{
  width: fit-content;
}

/* Form------------------------------------------- */

.movie-form{
  margin: 0 auto;
  width: 860px;
  height: 630px;
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  border: 2px solid #A80000;
}

.movie-form h2{
  text-align: center;
  padding: 15px;
  font-size: 22px;
}

.movie-form label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;

}

.movie-form div{
  margin: 0 auto;
  width: 770px;
  height: 50px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  margin-top: 15px;
  padding-left: 15px;
  
}

.movie-form div:first-of-type{
  margin-top: 10px;
}

.movie-form input{
  border-color: transparent;
  border-radius: 5px;
  width: 75%;
  height: 40px;
  background-color: #EAEAEA;
}

.movie-form div:last-of-type{
  margin-top: 35px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.add-btn{
  width: 150px;
  height: 35px;
  text-align: center;
  background-color:#A80000;
  color: white;
  font-size: 17px;
}


.movies-table-cont{
  margin: 0 auto;
   background-color: white;
   width: 900px;
   margin-top: 15px;
   margin-bottom: 15px;

}

.movies-table-cont h2{
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
/* tabla-------------------------------------------- */

table {
  margin: 0 auto;
  table-layout: fixed;
  width: 900px;
  border-collapse: collapse;
}

thead{
  background-color: #EAEAEA;
}

thead th:nth-child(1) {
  width: 8%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 5%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 14%;
}
thead th:nth-child(7) {
  width: 17%;
}

thead th:nth-child(7) {
  width: 20%;
}

thead th{
  padding: 15px 0px;
}

th, td {
  padding: 5px;
}

th {
  letter-spacing: 1px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
  padding: 10px 0px;
}

.lastrow{
  display: flex;

}

tbody:nth-child(odd){
  background-color: #EAEAEA;
}

.edit-i{
color: #00a800;
}

.trash-i{
  color: #a80000;
  } 

.movies-table{
  background-color: white;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}